# SPDX-FileCopyrightText: 2025 Spencer
# SPDX-License-Identifier: CC0-1.0

name: Lint GameDB
on:
  pull_request:
    paths:
      - 'resources/gamedb.yaml'

jobs:
  lint:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install YAMLLint
        run: sudo apt update && sudo apt install -y yamllint

      - name: Lint GameDB
        run: |
          yamllint -d '{
            extends: default,
            rules: {
              document-start: disable,
              line-length: disable,
              key-ordering: enable
            }
          }' -f github -s resources/gamedb.yaml
